.skill-tags {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.skill-tag {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px 0 0;
  font-weight: bold;
  margin-bottom: 5px;
  padding: 4px 8px;
  position: relative;
}

.skill-tag.normal {
  font-size: 1rem;
}

.skill-tag.small {
  font-size: 0.8rem;
}

.skill-tag::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #4d4d4d79;
}
