.experience {
  margin-bottom: 20px;
}

.experience-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.job-title {
  margin-top: 0;
  margin-bottom: 0;
}

.location {
  font-size: 0.95rem;
}

.date {
  display: inline-block;
  font-size: 0.9rem;
  margin-bottom: 10px;
}
