@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300;400;600;700&display=swap");

body {
  margin: 0;
  font-family: "Hind", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

@page {
  size: auto;
  margin: 0mm;
}

@font-face {
  font-family: spartan;
  src: url("assets/fonts/spartan/otf/SpartanMB-Regular.otf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: spartan;
  src: url("assets/fonts/spartan/otf/SpartanMB-Medium.otf") format("truetype");
  font-weight: medium;
}

@font-face {
  font-family: spartan;
  src: url("assets/fonts/spartan/otf/SpartanMB-Light.otf") format("truetype");
  font-weight: thin;
}

@font-face {
  font-family: spartan;
  src: url("assets/fonts/spartan/otf/SpartanMB-Bold.otf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: spartan;
  src: url("assets/fonts/spartan/otf/SpartanMB-SemiBold.otf") format("truetype");
  font-weight: 500;
}
